---
import { LINK_LIST } from "../../data/link";

const convert2Path = (filename: string) => {
  const prefix = "/social/";
  return prefix + filename;
};

const ICON_SIZE = 38;
---

<ul class="root">
  {
    LINK_LIST.map((item) => (
      <li>
        <a href={item.url} target="_blank" rel="noreferrer noopener me">
          <img
            class="ico"
            src={convert2Path(item.img)}
            height={ICON_SIZE}
            width={ICON_SIZE}
            alt={item.alt}
          />
        </a>
      </li>
    ))
  }
</ul>

<style>
  .root {
    max-width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 8px;
    margin: 0 auto;
  }
</style>
