---
import CenterSection from "../CenterSection.astro";

export interface Props {
  url: string;
  titleSrc?: string;
  title: string;
  iconSrc?: string;
  link: string;
}

type RssResponse = {
  items: RssItem[];
};

type RssItem = {
  title: string;
  link: string;
};

const { title, url, titleSrc, iconSrc, link } = Astro.props;

const res = await fetch(`https://api.rss2json.com/v1/api.json?rss_url=${url}`);
const data: RssResponse = await res.json();
const recentData = data.items.splice(0, 3);
---

<CenterSection title={title} titleSrc={titleSrc} iconSrc={iconSrc} link={link}>
  <ul>
    {
      recentData.map((item: RssItem) => (
        <li>
          <a href={item.link} target="_blank" rel="noreferrer noopener me">
            {item.title}
          </a>
        </li>
      ))
    }
  </ul>
</CenterSection>
<style>
  li {
    line-height: 1.5;
    margin: 0;
  }
</style>
