---
import Section from '@/components/Section.astro'
import { format } from 'date-fns'
import { ja } from 'date-fns/locale'
import Parser from 'rss-parser'
import type { RssTargetItem } from '@/data/rssList'
const parser = new Parser()

export interface Props {
  title: string
  list: RssTargetItem[]
  itemNum?: number
  slug: string
}

type RssItem = {
  title: string
  link: string
  pubDate: string
  blogTitle: string
}

const { title, list, itemNum = 12, slug } = Astro.props

const allData = await Promise.all(
  list.map(async (item) => {
    const data = await parser.parseURL(item.url)
    const recentData = data.items ? data.items.splice(0, 13) : []
    return recentData.map((article: any) => ({
      blogTitle: item.title,
      ...article,
      pubDate: format(new Date(article.pubDate), 'yyyy-MM-dd HH:mm', {
        locale: ja,
      }),
    }))
  })
)

const flatData = allData
  .flat()
  .filter((item) => {
    const now = new Date()
    const pubDate = new Date(item.pubDate)
    const diff = now.getTime() - pubDate.getTime()
    const diffDays = diff / (1000 * 60 * 60 * 24)
    return diffDays < 60
  })
  .sort((a: RssItem, b: RssItem) => {
    return new Date(b.pubDate).getTime() - new Date(a.pubDate).getTime()
  })
---

<Section title={title}>
  <ul>
    {
      flatData.slice(0, itemNum).map((item: RssItem) => (
        <li>
          <a
            class="post"
            href={item.link}
            target="_blank"
            rel="noreferrer noopener me"
          >
            <p class="title">{item.title}</p>
            <div class="subData">
              <p class="blogTitle">{item.blogTitle}</p>
              <p class="time">
                <time>{item.pubDate}</time>
              </p>
            </div>
          </a>
        </li>
      ))
    }
  </ul>
</Section>
<style lang="scss">
  @use '../..//styles/colors.scss';

  ul {
    display: grid;
    gap: 1rem;
    li {
      height: 100%;
      display: flex;
      border-bottom: 1px solid #ccc;
      .post {
        margin: 8px 0 0 4px;
        p {
          margin: 0;
        }
        display: flex;
        flex-direction: column;
        color: #333;
        .title {
          font-size: 1.2rem;
          font-weight: bold;
          margin-bottom: 8px;
        }
        .subData {
          display: flex;
          flex-direction: row;
          justify-content: start;
          align-items: center;
          column-gap: 16px;
          flex-wrap: wrap;
        }
      }
    }
  }
</style>
