---
import Section from '@/components/Section.astro'
import { format } from 'date-fns'
import { ja } from 'date-fns/locale'
import Parser from 'rss-parser'
import type { RssTargetItem } from '@/data/rssList'
const parser = new Parser()

export interface Props {
  title: string
  target: RssTargetItem
  itemNum?: number
}

type RssItem = {
  title: string
  link: string
  pubDate: string
  blogTitle: string
}

const { title, target, itemNum = 5 } = Astro.props

const data = await parser.parseURL(target.url)
const recentData = data.items ? data.items.splice(0, 13) : []
const formattedRecentData = recentData.map((article: any) => ({
  blogTitle: target.title,
  ...article,
  pubDate: format(new Date(article.pubDate), 'yyyy-MM-dd HH:mm:dd', {
    locale: ja,
  }),
}))

const flatData = formattedRecentData
  .flat()
  .filter((item: RssItem) => {
    const now = new Date()
    const pubDate = new Date(item.pubDate)
    const diff = now.getTime() - pubDate.getTime()
    const diffDays = diff / (1000 * 60 * 60 * 24)
    return diffDays < 60
  })
  .sort((a: RssItem, b: RssItem) => {
    return new Date(b.pubDate).getTime() - new Date(a.pubDate).getTime()
  })
---

<Section title={title} link={target.link}>
  <ul>
    {
      flatData.slice(0, itemNum).map((item: RssItem) => (
        <li>
          <a
            class="post"
            href={item.link}
            target="_blank"
            rel="noreferrer noopener me"
          >
            <p class="title">{item.title}</p>
            <div class="subData">
              <p class="blogTitle">{item.blogTitle}</p>
              <p class="time">
                <time>{item.pubDate}</time>
              </p>
            </div>
          </a>
        </li>
      ))
    }
  </ul>
  <p class="moreLink">
    <a href={target.link} target="_blank" rel="noreferrer noopener me">
      サイトへ移動
    </a>
  </p>
</Section>
<style lang="scss">
  @use '../..//styles/colors.scss';

  .moreLink {
    text-align: right;
    margin-top: 16px;
  }

  ul {
    display: grid;
    gap: 1rem;
    li {
      height: 100%;
      display: flex;
      border-bottom: 1px solid #ccc;
      .post {
        margin: 8px 0 0 4px;
        p {
          margin: 0;
        }
        display: flex;
        flex-direction: column;
        color: #333;
        .title {
          font-size: 1.2rem;
          font-weight: bold;
          margin-bottom: 8px;
        }
        .subData {
          display: flex;
          flex-direction: row;
          justify-content: start;
          align-items: center;
          column-gap: 16px;
          flex-wrap: wrap;
        }
      }
    }
  }
</style>
