---
import Section from "@/components/Section.astro";
import { format } from "date-fns";
import ja from "date-fns/locale/ja/index.js";
import Parser from "rss-parser";
const parser = new Parser();

export interface Props {
  url: string;
  title: string;
  link: string;
}

type RssItem = {
  title: string;
  link: string;
  pubDate: string;
};

const { title, url, link } = Astro.props;

const data = await parser.parseURL(url);
const recentData = data.items ? data.items.splice(0, 5) : [];
const formattedRecentData = recentData.map((item: any) => ({
  ...item,
  pubDate: format(new Date(item.pubDate), "yyyy-MM-dd HH:mm:dd", {
    locale: ja,
  }),
}));
---

<Section title={title} link={link}>
  <ul>
    {
      formattedRecentData.map((item: RssItem) => (
        <li>
          <a href={item.link} target="_blank" rel="noreferrer noopener me">
            - {item.title}({item.pubDate})
          </a>
        </li>
      ))
    }
  </ul>
</Section>
<style>
  li {
    margin: 0.3rem 0;
  }
</style>
