---
import Section from "../Section.astro";
import { format } from "date-fns";
import ja from "date-fns/locale/ja/index.js";

export interface Props {
  url: string;
  title: string;
  link: string;
}

type RssResponse = {
  items: RssItem[];
};

type RssItem = {
  title: string;
  link: string;
  pubDate: string;
};

const { title, url, link } = Astro.props;

const res = await fetch(`https://api.rss2json.com/v1/api.json?rss_url=${url}`);
const data: RssResponse = await res.json();
const recentData = data.items.splice(0, 5);
const formattedRecentData = recentData.map((item: RssItem) => ({
  ...item,
  pubDate: format(new Date(`${item.pubDate}.000+0000`), "yyyy-MM-dd HH:mm:dd", {
    locale: ja,
  }),
}));
---

<Section title={title} link={link}>
  <ul>
    {
      formattedRecentData.map((item: RssItem) => (
        <li>
          <a href={item.link} target="_blank" rel="noreferrer noopener me">
            - {item.title}({item.pubDate})
          </a>
        </li>
      ))
    }
  </ul>
</Section>
<style>
  li {
    margin: 0.3rem 0;
  }
</style>
