---
export interface Props {
  title: string;
  titleSrc?: string;
  iconSrc?: string;
  link: string;
}

const { title, titleSrc, iconSrc, link } = Astro.props;
---

<section class="root">
  <h2>
    <a href={link} target="_blank" rel="noreferrer noopener me">
      {
        titleSrc ? (
          <img src={titleSrc} alt={title} />
        ) : (
          <>
            <img class="ico" src={iconSrc} alt={title} role="presentation" />
            {title}
          </>
        )
      }
    </a>
  </h2>
  <div class="sectionWrapper">
    <slot />
  </div>
</section>
<style lang="scss">
  .root {
    margin: 2rem 1rem;
  }
  h2 {
    /* width: fit-content; */
    margin: 1rem auto 0.5rem auto;
    .ico {
      margin-right: 16px;
    }

    img {
      height: 28px;
      object-fit: contain;
    }

    a,
    a:hover,
    a:visited,
    a:active {
      display: flex;
      align-items: center;
      color: #000;
    }
  }

  .sectionWrapper {
    padding: 0.5rem 0 0 0.5rem;
  }
</style>
