---
import { Image } from 'astro:assets'
export interface Props {
  href: string
  src: ImageMetadata
  width: number
  height: number
  alt: string
  target?: string
}

const { href, src, width, height, alt, target } = Astro.props
const isExternal = typeof src === 'string' && (src as string).startsWith('http')
---

<a href={href} target={target}>
  {
    isExternal ? (
      <img src={src} width={width} height={height} alt={alt} />
    ) : (
      <Image src={src} width={width} height={height} alt={alt} />
    )
  }
</a>
